body {
    margin: 0;
}

section, main {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

main {
    display: none;
}

main p {
    font-family: sans-serif;
    font-size: 60pt;
}